#root {
  margin: 0 auto;
  padding: 2rem;
}

.mainContent {
  flex-direction: row;
  display: flex;
}

.cardContent {
  display: flex;
  justify-content: center;
  margin-right: 40px;
  flex-direction: column;
}

.calendarContent {

}